/* Estilos generales para la barra de navegación */
.navbar {
    background: linear-gradient(135deg, #6a0dad, #9b59b6);
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
  }
  
  /* Estilos para los enlaces */
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Efecto hover para los enlaces */
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f1c40f;
  }
  
  /* Estilo para el enlace activo */
  .activeLink {
    background-color: rgba(255, 255, 255, 0.4);
    color: #f1c40f;
    font-weight: bold;
  }
  
  /* Estilos para el menú desplegable */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.2);
  }
  