<nav class="navbar">
    <a routerLink="/inicio" routerLinkActive="activeLink" class="nav-link">Inicio</a>
    <a routerLink="/about" routerLinkActive="activeLink" class="nav-link">Publicaciones</a>
    <div class="dropdown">
      <button class=" nav-link">Administrar</button>
      <div class="dropdown-content">
        <a routerLink="/administrar/editar" routerLinkActive="activeLink" class="nav-link">Editar</a>
        <a routerLink="/administrar/crear" routerLinkActive="activeLink" class="nav-link">Crear</a>
      </div>
    </div>
  </nav>
  